@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to UserManagementMvc</h1>
    <p><a href="/Identity/Account/Login">Login</a> or <a href="/Identity/Account/Register">Register</a></p>
</div>
